* {
	box-sizing: border-box;
}

@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}

body {
	color: rgb(70, 66, 97);
	background-color: rgb(242, 233, 225);
	font-family: sans-serif;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	row-gap: 1rem;
	align-items: center;
	width: 100%;
	height: 100%;

	body:not([data-wasm-loaded]) & {
		display: none;
	}
}

#loading-spinner {
	width: 7rem;
	aspect-ratio: 1;
	border: 0.4rem solid rgb(206, 202, 205);
	border-top-color: rgb(235, 111, 146);
	border-radius: 50%;
	animation: spin 1s linear infinite;

	body[data-wasm-loaded] & {
		display: none;
	}
}

.canvas-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	canvas {
		background-color: rgb(255, 250, 243);
		border: 1px solid rgb(70, 66, 97);
	}
}

.controls {
	display: flex;
	justify-content: center;
	gap: 3rem;

	.buttons {
		display: flex;
		align-items: end;
		gap: 1rem;

		button {
			padding: 0.3rem;
			min-width: 5rem;
			height: fit-content;
			font: inherit;

			background-color: rgb(255, 250, 243);
			border: 1px solid rgb(70, 66, 97);
			&:disabled {
				background-color: transparent;
				color: rgb(152, 147, 165);
				border-color: rgb(152, 147, 165);
			}
			&:not(:disabled) {
				cursor: pointer;
				&:hover:not(:active) {
					background-color: transparent;
				}
			}
		}
	}

	.slider {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;

		label {
			font-size: 0.85rem;
			font-weight: 600;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			white-space: nowrap;
		}

		input[type="range"] {
			width: 13rem;
			appearance: none;
			background: transparent;

			&:not(:disabled) {
				cursor: grab;
				&:active {
					cursor: grabbing;
				}
			}

			&::-webkit-slider-runnable-track {
				height: 0.5rem;
				background-color: rgb(206, 202, 205);
				border: 1px solid rgb(70, 66, 97);
			}
			&::-moz-range-track {
				height: 0.5rem;
				background-color: rgb(206, 202, 205);
				border: 1px solid rgb(70, 66, 97);
			}

			&::-webkit-slider-thumb {
				appearance: none;
				width: 0.6rem;
				height: 1.3rem;
				margin-top: -0.4rem; /* centering */
				border-radius: 0;
				border: 1px solid black;
				background-color: rgb(235, 111, 146);
			}
			&::-moz-range-thumb {
				width: 0.6rem;
				height: 1.3rem;
				border-radius: 0;
				border: 1px solid black;
				background-color: rgb(235, 111, 146);
			}
		}
	}
}
